.header {
  height: 60px;

  &__fixed {
    background: #fff;
    height: inherit;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    border-bottom: 1px solid #E9EEF3;
    padding: 13px 20px;
    font-size: 16px;
  }

  &__brand {
    font-size: 24px;
    float: left;
  }

  &__logout {
    float: right;

    a {
      display: inline-block;
      color: #E32E30;
      padding: 5px 10px;
      margin-left: 10px;
    }
  }

  &__button {
    font-size: 16px;

    &--new-contact {
      color: #50D749;
      margin-left: 30px;
      position: relative;
      top: -2px;
    }

    .material-icons {
      font-size: inherit;
      position: relative;
      top: 2px;
      margin-right: 3px;
    }
  }
}
